@media (max-width: 1199px) and (min-width: 576px) {
    body .homepage{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 575px) {
    body .homepage{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    body .modal .modal-body{
        width: 230px;
    }
    body header input{
        width: 80%;
    }
}